.all-shots-table {
    height: 100%;
    padding-left: 1rem;
    padding-right: 3rem;
}

.shot-data-columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.shot-data-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shot-data-value {
    padding: 5pt;
}

.shot-data-header-0 {
    font-weight: bold;
}

.shot-data-header-1 {
    font-weight: lighter;
    border-style: solid;
    border-bottom: var(--font-white);
    border-width: 1px;
}
