.drill-configuration-text-input-container {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
    width: 100%;
}

.drill-configuration-text-input-container .drill-configuration-text-input {
    border: 2px solid transparent;
    padding: 8px;
    text-align: left;
    font-size: 30px;
    height: 35px;
    outline: none;
    display: inline-block;
    color: var(--background-dark);
    width: 100%;
}

.drill-configuration-text-input-container .drill-configuration-checkbox {
    width: 35px;
}
