.drill-page {
}

// next shot
.drill-page .next-shot-flex-item {
    flex: 1;
    margin-left: var(--page-margin-horizontal);
    margin-right: var(--page-margin-horizontal);
}

.drill-page .RestartButton {
    margin-top: 5em;
}

// last shot
.drill-page .last-shot-flex-item {
    border-color: var(--font-white);
    border-style: solid;
    border-left-width: 5px;
    border-color: var(--font-white);
    flex: 2;
}

.drill-page .LastShotData {
}

// shots
.drill-page .shots-flex-item {
    flex: 2;
}

.drill-page .ShotsSvg {
    background: var(--font-white);
    margin-right: var(--page-margin-horizontal);
}
