.drill-page {
}

.loading-drill-page {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

// next shot
.drill-page .next-shot-flex-item {
    flex: 1;
    margin-left: var(--page-margin-horizontal);
    margin-right: var(--page-margin-horizontal);
}

.drill-page .RestartButton {
    margin-top: 5em;
}

// shot tabs
.drill-page .shot-tabs {
    border-color: var(--font-white);
    border-style: solid;
    border-left-width: 5px;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.loading-drill-page .loading-spinner-div {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.drill-page .tab-links {
    display: flex;
    flex-direction: row;
}

// one shot tab
.drill-page .one-shot-tab {
    flex: 1;
    display: flex;
    flex-direction: row;
}

// last shot
.drill-page .last-shot {
    flex: 1;
}

// shots svg
.drill-page .shots-svg {
    flex: 1;
}

.drill-page .ShotsSvg {
    background: var(--font-white);
    margin-right: var(--page-margin-horizontal);
}

// all shots tab
.drill-page .all-shots-tab {
    flex: 1;
    display: flex;
    flexDirection: row;
}

// all shots table
.drill-page .all-shots-table-flex-item {
    flex: 1;
}
