.edit-drill-configurations-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-drill-configurations-page .edit-drill-configurations-top {
    display: flex;
    flex-direction: row;
}

.edit-drill-configurations-page .edit-drill-configurations-flex-item {
    flex: 1;
}
