@import '~fg-select-css/src/select-css.css';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Roboto+Mono:wght@100;200;300;400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
}

.app {
    width: 100%;
    height: 100%;
    background-color: #234050;
    color: var(--font-white);
}

:root {
    --bg: #234050;
    --font-white: #eeeeee;
    --font-site-normal: 24px;
    --font-site-header: 40px;
    --background-dark: #234050;
    --page-margin-horizontal: 5ex;
    --page-change-icon-width: 6ex;
}

.page-change-img {
    background: var(--font-white);
    width: var(--page-change-icon-width);
    height: var(--page-change-icon-width);
    margin-left: calc(-1 * (var(--page-margin-horizontal) + var(--page-change-icon-width)) + 3ex);
}

.page .flex-item {
    height: 100%;
    padding-top: 20px;
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.page-header {
    h3 {
        font-size: var(--font-site-header);
        text-align: center;
        margin-bottom: 50px;
    }
}
