.last-shot-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 3ex;
    padding-right: 5ex;
}

.last-shot__row {
    font-size: var(--font-site-normal);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.last-shot-item__label, .last-shot-item__data, .last-shot-item__unit {
    border: 0px;
    padding-bottom: 0.8em;
}

.last-shot-item__label {
    width: 33ex;
    text-align: right;
    padding-right: 2ex;
}

.last-shot-item__data {
    width: 6ex;
    text-align: right;
    padding-right: 1ex;
}

.last-shot-item__unit {
    text-align: left;
}

.last-shot__row_all_shots_data_start {
    margin-top: 2em;
}

