.last-shot-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 1rem;
    padding-right: 3rem;
}

.last-shot__row {
    font-size: var(--font-site-normal);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.last-shot-item__label, .last-shot-item__data, .last-shot-item__unit {
    border: 0px;
    padding-bottom: 1.5rem;
}

.last-shot-item__label {
    width: 25rem;
    text-align: right;
    padding-right: 1rem;
}

.last-shot-item__data {
    width: 7rem;
    text-align: right;
    padding-right: 1rem;
}

.last-shot-item__unit {
    text-align: left;
}

.last-shot__new_shots_data_section_start {
    margin-top: 2rem;
}

.last-shot__gained-row {
    color: lightgreen;
    font-size: 30px;
}

.last-shot__sum-gained-row {
    font-weight: bolder;
}

.last-shot__trackmanscore-row {
    color: orange;
    font-size: 30px;
}

.last-shot__avg-trackmanscore-row {
    font-weight: bolder;
}

.last-shot__spinscore-row {
    color: mediumslateblue;
    font-size: 30px;
}

.last-shot__avg-spinscore-row {
    font-weight: bolder;
}
