.report-session-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.report-session-page .report-session-top {
    display: flex;
    flex-direction: row;
}

.report-session-page .report-session-flex-item {
    flex: 1;
}

.report-session-page .t {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.report-session-page .ShotsSvg {
    flex: 0 0 60vh;
    background: var(--font-white);
}
