.edit-drill-configuration-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-drill-configuration-page .edit-drill-configuration-top {
    display: flex;
    flex-direction: row;
}

.edit-drill-configuration-page .edit-drill-configuration-input {
    padding-left: var(--page-margin-horizontal);
    padding-right: var(--page-margin-horizontal);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.edit-drill-configuration-page .edit-drill-configuration-flex-item {
    flex: 1;
}

.edit-drill-configuration-page .name-input {
    width: 31em;
}

.edit-drill-configuration-page .description-input {
    width: auto;
}

.edit-drill-configuration-page .unit-select,
.edit-drill-configuration-page .drillType-select,
.edit-drill-configuration-page .start-ground-type-select,
.edit-drill-configuration-page .distance-generator-select,
.edit-drill-configuration-page .outside-target-circle-action-select {
    width: calc(22em + 16px);
}

.edit-drill-configuration-page .target-rpm-per-unit-input {
    width: 22em;
}

.edit-drill-configuration-page .end-ground-types-table {
    width: 50em;
}


.edit-drill-configuration-page .min-included-distance-input,
.edit-drill-configuration-page .max-excluded-distance-input {
    width: 22em;
}

.edit-drill-configuration-page .distances-input {
    //width: 51em;
}
