.edit-drill-configuration-page {
}

.edit-drill-configuration-page .edit-drill-configuration-flex-item {
    flex: 1;
    margin-left: var(--page-margin-horizontal);
    margin-right: var(--page-margin-horizontal);
}
