.end-ground-types-table-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.end-ground-types-table {
    display: flex;
    flex-direction: column;
    //flex: 1;
    //justifyContent: flex-end;
    //padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.end-ground-types-table-row {
    display: flex;
    flexDirection: row;
    flex: 1;
    //justifyContent: flex-end;
    //padding-right: 15px;
    //padding-top: 10px;
    width: 100%;
}

.end-ground-types-table-cell {
    //flex: 1;
    //padding-right: 15px;
    //padding-top: 10px;
    width: 100%;
}

.end-ground-types-table-icon-cell {
    //padding-right: 15px;
    //padding-top: 10px;
}

.icon-flex-item {
    padding: 10px;
}

.end-ground-types-select {
    width: 100%;
}

.table-button-img-div {
    background: var(--font-white);
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.table-button-img {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
