.number-of-shots-input-container {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
}

.number-of-shots-input-container .btn-change {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 23px;
    padding-bottom: 23px;
    line-height: 5px;
    background: lightgray;
    color: var(--background-dark);
}

.number-of-shots-input-container .btn-change .minus {
    margin-right: 8px;
}

.number-of-shots-input-container .btn-change .plus {
    margin-left: 8px;
}

.number-of-shots-input-container .number-of-shots-input {
    border: none;
    border: none;
    padding: 8px;
    text-align: center;
    font-size: 30px;
    height: 35px;
    width: 100px;
    outline: none;
    display: inline-block;
    color: var(--background-dark);
}
