.edit-player-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.edit-player-page .edit-player-top {
    display: flex;
    flex-direction: row;
}

.edit-player-page .edit-player-input {
    padding-left: var(--page-margin-horizontal);
    padding-right: var(--page-margin-horizontal);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.edit-player-page .edit-player-flex-item {
    flex: 1;
}

.edit-player-page .name-input {
    width: 31em;
}
