.test-configuration-select-container {
    display: flex;
    flex-direction: column;
    float: left;
    min-width: 10em;
    width: 100%;
}

.test-configuration-select {
}

.select-css {
    margin: .5em 0;
}
