.box {
    background: var(--font-white);
    color: var(--background-dark);
    text-align: center;
}

.next-distance {
    padding-top: 50px;
    padding-bottom: 50px;
}

.next-distance-number {
    font-size: 120px;
}

.next-distance-unit {
    font-size: 60px;
}

.next-distance-average-strokes-label {
    padding-top: 50px;
    font-size: 30px;
    color: orange;
}
.next-distance-average-strokes {
    padding-top: 10px;
    font-size: 60px;
    color: orange;
}
