.main-page {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;

    &__header {
        h3 {
            font-size: 40px;
            text-align: center;
        }
    }

    &__next-challenge {
        float: left;
        width: 400px;
        height: 100%;
        padding-top: 20px;
    }

    &__next-distance {
        margin-top: 100px;
        background: white;
        color: #234050;
        text-align: center;
        width: 70%;
        padding-top: 50px;
        padding-bottom: 50px;
        display: inline-block;
    }

    &__restart {
        margin-top: 100px;
        background: white;
        color: #234050;
        text-align: center;
        font-size: 50px;
        width: 70%;
        padding-top: 50px;
        padding-bottom: 50px;
        display: inline-block;
    }

    &__next-distance-number {
        font-size: 120px;
    }

    &__next-distance-unit {
        font-size: 60px;
    }

    &__last-shot {
        float: left;
        height: 100%;
        border-color: white;
        border-style: solid;
        border-left-width: 5px;
        padding-top: 20px;
    }

    &__shot-data-holder {
        margin-top: 90px;
    }
}

.shots {
    float: left;
    width: 600px;
    height: 100%;
    padding-top: 20px;
    margin-left: 50px;
}

.shots_svg {
    margin-top: 100px;
    background: white;
}

.shots_svg_axis {
    stroke: black;
    stroke-width: 0.6;
}

.shots_svg_circle {
    stroke: black;
    stroke-width: 0.2;
    fill: none;
    cx: 0;
    cy: 0;
}

.shots_svg_circletext {
    text-anchor: middle;
    stroke: black;
    stroke-width: 0.2;
    fill: black;
    font-size: 6px;
    alignment-baseline: middle;
}

.shots_svg_shotcircle, .shots_svg_lastshotcircle {
    stroke-width: 1;
    fill: none;
    r: 5;
    text: "1";
    text-anchor: middle;
}

.shots_svg_shotcircle {
    stroke: blue;
}

.shots_svg_lastshotcircle {
    stroke: red;
}

.shots_svg_shotcircletext, .shots_svg_lastshotcircletext {
    text-anchor: middle;
    stroke-width: 0.2;
    font-size: 8px;
    alignment-baseline: middle;
}

.shots_svg_shotcircletext {
    stroke: blue;
    fill: blue;
}

.shots_svg_lastshotcircletext {
    stroke: red;
    fill: red;
}

.shot-item, .shot-item__label, .shot-item__data, .shot-item__unit {
    border: 0px;
    padding: 11px;
}

.shot-item {
    font-size: 20px;

    &__label {
    }

    &__data {
        display: flex;
        justify-content: flex-end;
    }

    &__unit {
    }

}
